body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 25px;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p {
  /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}

.navbar-brand p span {
  /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #951C49;
  text-align: center;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/* END HEADER */



/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}

#menu-tile,
#specials-tile,
#map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}

#menu-tile:hover,
#specials-tile:hover,
#map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}


/* END SINGLE CATEGORY PAGE */


/********** Large devices only **********/

@media (min-width: 1200px) {

  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }

  .navbar-brand p {
    /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }

  #collapsable-nav a {
    /* Collapsed nav menu text */
    font-size: 1.2em;
    color: #61122f;
    text-align: center;
  }

  #collapsable-nav a span {
    /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
    margin-left: 50px;
    text-align: center;
  }

  #box1,
  #box5,
  #box6 {
    float: left;
    margin: 0 auto;
    margin: 3em;
    background-color: #999999;
    padding: 10px, 10px, 10px, 10px;
    border: 0px solid black;
    width: 25%;
    height: 350px;
  }

  #box1 #box2 {
    position: relative;
    width: 30%;
    border: 0px solid black;
    margin-left: auto;
    padding-right: 55%;
    margin-bottom: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #box5 #box3 {
    position: relative;
    width: 30%;
    border: 0px solid black;
    margin-left: auto;
    padding-right: 55%;
    margin-bottom: auto;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #box6 #box4 {
    position: relative;
    width: 30%;
    border: 0px solid black;
    margin-left: auto;
    padding-right: 55%;
    margin-bottom: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

  #box1 {
    float: left;
    margin: 0 auto;
    margin: 2em;
    background-color: #999999;
    padding: 10px, 10px, 10px, 10px;
    border: 0px solid black;
    width: 40%;
    height: 350px;
  }

  #box5 {
    float: left;
    margin: 0 auto;
    margin: 2em;
    background-color: #999999;
    padding: 10px, 10px, 10px, 10px;
    border: 0px solid black;
    width: 40%;
    height: 350px;
  }

  #box6 {
    float: left;
    margin: 0 auto;
    margin: 2em;
    background-color: #999999;
    padding: 10px, 10px, 10px, 10px;
    border: 0px solid black;
    width: 87%;
    height: auto;
  }

  #box1 #box2 {
    position: relative;
    width: 30%;
    border: 0px solid black;
    margin-left: auto;
    padding-right: 55%;
    margin-bottom: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #box5 #box3 {
    position: relative;
    width: 30%;
    border: 0px solid black;
    margin-left: auto;
    padding-right: 55%;
    margin-bottom: auto;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #box6 #box4 {
    position: relative;
    width: 30%;
    border: 0px solid black;
    margin-left: auto;
    padding-right: 55%;
    margin-bottom: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #box1 #box2 {
    position: relative;
    width: 30%;
    border: 0px solid black;
    margin-left: auto;
    padding-right: 55%;
    margin-bottom: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #box5 #box3 {
    position: relative;
    width: 30%;
    border: 0px solid black;
    margin-left: auto;
    padding-right: 55%;
    margin-bottom: auto;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #box6 #box4 {
    position: relative;
    width: 30%;
    border: 0px solid black;
    margin-left: auto;
    padding-right: 55%;
    margin-bottom: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }

  .navbar-brand p {
    /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }

  .navbar-brand p img {
    /* Star-K */
    height: 20px;
  }

  #collapsable-nav a {
    /* Collapsed nav menu text */
    font-size: 1.2em;
    color: #61122f;
  }

  #collapsable-nav a span {
    /* Collapsed nav menu glyph */
    font-size: 1em;

    margin-right: 5px;
    margin-left: 50px;
  }


}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  #box1 {
    float: left;
    margin: 0 auto;
    margin: 2em;
    background-color: #999999;
    padding: 10px, 10px, 10px, 10px;
    border: 0px solid black;
    width: 40%;
    height: 350px;
  }

  #box5 {
    float: left;
    margin: 0 auto;
    margin: 2em;
    background-color: #999999;
    padding: 10px, 10px, 10px, 10px;
    border: 0px solid black;
    width: 40%;
    height: 350px;
  }

  #box6 {
    float: left;
    margin: 0 auto;
    margin: 2em;
    background-color: #999999;
    padding: 10px, 10px, 10px, 10px;
    border: 0px solid black;
    width: 87%;
    height: auto;
  }

  #box1 #box2 {
    position: relative;
    width: 30%;
    border: 0px solid black;
    margin-left: auto;
    padding-right: 55%;
    margin-bottom: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #box5 #box3 {
    position: relative;
    width: 30%;
    border: 0px solid black;
    margin-left: auto;
    padding-right: 55%;
    margin-bottom: auto;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #box6 #box4 {
    position: relative;
    width: 30%;
    border: 0px solid black;
    margin-left: auto;
    padding-right: 55%;
    margin-bottom: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }

  .navbar-brand p {
    /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }

  .navbar-brand p img {
    /* Star-K */
    height: 20px;
  }

  #collapsable-nav a {
    /* Collapsed nav menu text */
    font-size: 1.2em;
    color: #61122f;
  }

  #collapsable-nav a span {
    /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
    margin-left: 50px;
  }

}

/********** Extra small devices only **********/
@media (max-width: 767px) {

  #box1,
  #box5,
  #box6 {
    float: left;
    background-color: #999999;
    padding: 10px, 10px, 10px, 10px;
    border: 0px solid black;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
    width: auto;
  }

  #box1 #box2 {
    position: relative;
    width: 30%;
    border: 0px solid black;
    margin-left: auto;
    padding-right: 55%;
    margin-bottom: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #box5 #box3 {
    position: relative;
    width: 30%;
    border: 0px solid black;
    margin-left: auto;
    padding-right: 55%;
    margin-bottom: auto;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #box6 #box4 {
    position: relative;
    width: 30%;
    border: 0px solid black;
    margin-left: auto;
    padding-right: 55%;
    margin-bottom: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }

  .navbar-brand p {
    /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }

  .navbar-brand p img {
    /* Star-K */
    height: 20px;
  }

  #collapsable-nav a {
    /* Collapsed nav menu text */
    font-size: 1.2em;
    color: #61122f;
  }

  #collapsable-nav a span {
    /* Collapsed nav menu glyph */
    font-size: 1em;

    margin-right: 5px;
    margin-left: 50px;
  }


  /* End Header */


  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }

  #menu-tile,
  #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }


  .menu-item-tile .menu-item-price {
    text-align: left;
  }

  .menu-item-description {
    text-align: left;
  }


}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/

/* Home page */
#menu-tile,
#specials-tile {
  width: 280px;
  margin: 0 auto 15px;
}


h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 175%;
  text-align: center;
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 175%;
  float: left;
}


#p1 {
  padding: 10px, 10px, 10px, 10px;
  margin-bottom: auto;
  margin-left: 3%;
  margin-top: 1%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}