body {
    font-size: 16px;
    color: #fff;
    background-color: #5a0e30;
    font-family: 'oxygen', sans-serif;
}

#header-nav {
    margin: 0%;
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
    font-size: 20px;
}


.navbar-toggle {

    @media (min-width: 768px) {
        display: block !important;
        background-color: transparent;
        border: 1px solid #333333;
    }

    .icon-bar-always {
        border: 1px solid #fff;
        display: block;
        border-radius: 1px;
    }

    .icon-bar-always+.icon-bar-always {
        margin-top: 4px;
    }
}